<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <div class="Header">
      <div class="left-side">
        <div class="logo">
          <img class="logo-img" src="../images/logo.png" alt="">
          <p>Bank</p>         
        </div>
      </div>
      <div class="right-side">
        <select class="category">
          <option value="0">English</option>
          <option value="1">Banking</option>
          <option value="2">others</option>
      </select>
      <div class="headerImages">
        <div class="Img1">
          <img class="img" src="../images/icon-search.png" alt="">
        </div>
          <div class="Img1">
            <img class="img" src="../images/icon-question.png" alt="">
          </div>
          <div class="Img1">
            <img class="img" src="../images/icon-question.png" alt="">
          </div>
          <div class="Img1">
            <img class="img" src="../images/icon-user.png" alt="">
          </div>                    
      </div>
      </div>
    </div>
    <div class="header-primary">
      <div class="sidebar">
        <ul class="unorder-list">
          <li class="list-1" id="active">
             <img class="s-i" src="../images/icon-home.png" alt=""> <a href="" class="li- color-origin"><b> Home </b></a>
          </li>
          <li class="list-1">
           <img class="s-i" src="../images/icon-leads.png" alt=""> <a href="" class="li-"> Lead</a>
         </li>
         <li class="list-1">
           <img class="s-i" src="../images/icon-payment.png" alt=""> <a href=""class="li-">Policies</a>
         </li>
         <li class="list-1">
           <img class="s-i" src="../images/icon-complains.png" alt=""> <a href=""class="li-">Complaints</a>
         </li>
         <li class="list-1">
           <img class="s-i" src="../images/icon-request.png" alt=""> <a href=""class="li-">Requests</a>
         </li>
         <li class="list-1">
         <img class="s-i" src="../images/icon-analytics.png" alt=""> <a href=""class="li-">Analysis</a>
         </li>
         </ul>
      </div>
      <div class="landing">
        <div class="Container">
          <div class="leftContainer">
            <div class="card1">
              <div class="headingLeft">
                <h4 class="headingTop">Work in Progress</h4>
                <span class="badge" id="color">3</span>
              </div>
              <div class="innerContent">
                <div class="middleElement">
                  <div class="img">
                    <img class="innerImg" src="../images/icon-circle-tick.png" alt="">
                  </div>
                  <div class="quotes">
                    <p class="quotePoint">Quotes:22875640</p>
                    <p class="bottomQuote">last edited two days ago</p>
                  </div>
                </div>
                <div class="footerElement">
                  <div class="leftBottom">
                    <p class="Customer">Customer</p>
                    <h4 class="customerName">Sunil Kulkuli</h4> 
                  </div>
                  <div class="rightBottom">
                    <p class="sum">Insures Sum</p>
                    <p class="money-earn"><b>$--</p></b>
                  </div>
                </div>
              </div>
              <div class="innerContent">
                <div class="middleElement">
                  <div class="img">
                    <img class="innerImg" src="../images/icon-doc.png" alt="">
                  </div>
                  <div class="quotes">
                    <p class="quotePoint">Quotes:22875640</p>
                    <p class="bottomQuote">last edited two days ago</p>
                  </div>
                </div>
                <div class="footerElement">
                  <div class="leftBottom">
                    <p class="Customer">Customer</p>
                    <h4 class="customerName">Sunil Kulkuli</h4> 
                  </div>
                  <div class="rightBottom">
                    <p class="sum">Insures Sum</p>
                    <p class="money-earn"><b>$--</p></b>
                  </div>
                </div>
              </div>
              <div class="innerContent">
                <div class="middleElement">
                  <div class="img">
                    <img class="innerImg" src="../images/icon-doller-ok.png" alt="">
                  </div>
                  <div class="quotes">
                    <p class="quotePoint">Quotes:22875640</p>
                    <p class="bottomQuote">last edited two days ago</p>
                  </div>
                </div>
                <div class="footerElement">
                  <div class="leftBottom">
                    <p class="Customer">Customer</p>
                    <h4 class="customerName">Sunil Kulkuli</h4> 
                  </div>
                  <div class="rightBottom">
                    <p class="sum">Insures Sum</p>
                    <p class="money-earn"><b>$--</p></b>
                  </div>
                </div>
              </div>
              
              <div class="containerFooter">
                <div class="box-1" id="boxA">
                  <p class="policy-type">Policy type</p>
                   <h4 class="policy">Home Insurance</h4> 

                </div>
                <div class="box-2" id="boxB">
                  <p class="Insurece">Insurance </p>
                  <p class="Insurece-money"><b class="lic">LIC of India</p> </b> 
               </div>
              </div>
            </div>
          </div>
          <div class="middleContainer">
            <div class="card2">
              <div class="headingLeft">
                <h4 class="headingTop">Pending request</h4>
                <span class="badge">1</span>
              </div>
              <div class="innerContent">
                <div class="middleElement">
                  <div class="img">
                    <img class="innerImg" src="../images/icon-doller-up.png" alt="">
                  </div>
                  <div class="quotes">
                    <p class="quotePoint">Quotes:22875640</p>
                    <p class="bottomQuote">last edited two days ago</p>
                  </div>
                </div>
                <div class="footerElement">
                  <div class="leftBottom">
                    <p class="Customer">Customer</p>
                    <h4 class="customerName">Sunil Kulkuli</h4> 
                  </div>
                  <div class="rightBottom">
                    <p class="sum">Insures Sum</p>
                    <p class="money-earn"><b>$--</p></b>
                  </div>
                </div>
                <div class="containerFooter">
                  <div class="box-1">
                    <p class="policy-type">Policy type</p>
                     <h4 class="policy">Home Insurance</h4> 
  
                  </div>
                  <div class="box-2">
                    <p class="Insurece">Insurance </p>
                    <p class="Insurece-money"><b class="lic">LIC of India</p> </b> 
                 </div>
                </div>
              </div>
             
              <div class="innerContent">
                <div class="middleElement">
                  <div class="img">
                    <img class="innerImg" src="../images/icon-doller-up.png" alt="">
                  </div>
                  <div class="quotes">
                    <p class="quotePoint">Quotes:22875640</p>
                    <p class="bottomQuote">last edited two days ago</p>
                  </div>
                </div>
                <div class="footerElement">
                  <div class="leftBottom">
                    <p class="Customer">Customer</p>
                    <h4 class="customerName">Sunil Kulkuli</h4> 
                  </div>
                  <div class="rightBottom">
                    <p class="sum">Insures Sum</p>
                    <p class="money-earn"><b>$--</p></b>
                  </div>
                </div>
                <div class="containerFooter">
                  <div class="box-1">
                    <p class="policy-type">Policy type</p>
                     <h4 class="policy">Home Insurance</h4> 
                  </div>
                  <div class="box-2">
                    <p class="Insurece">Insurance </p>
                    <p class="Insurece-money"><b  class="lic">LIC of India</p> </b> 
                 </div>
                </div>
              </div>
            
              <div class="innerContent">
                <div class="middleElement">
                  <div class="img">
                    <img class="innerImg" src="../images/icon-doller-up.png" alt="">
                  </div>
                  <div class="quotes">
                    <p class="quotePoint">Quotes:22875640</p>
                    <p class="bottomQuote">last edited two days ago</p>
                  </div>
                </div>
                <div class="footerElement">
                  <div class="leftBottom">
                    <p class="Customer">Customer</p>
                    <h4 class="customerName">Sunil Kulkuli</h4> 
                  </div>
                  <div class="rightBottom">
                    <p class="sum">Insures Sum</p>
                    <p class="money-earn"><b>$--</p></b>
                  </div>
                </div>
                <div class="containerFooter">
                  <div class="box-1">
                    <p class="policy-type">Policy type</p>
                     <h4 class="policy">Home Insurance</h4> 
                  </div>
                  <div class="box-2">
                    <p class="Insurece">Insurance </p>
                    <p class="Insurece-money"><b  class="lic">LIC of India</p> </b> 
                 </div>
                </div>                          
              </div> 
             
            </div>
          </div>
          <div class="rightContainer">
            <div class="card-3">
              <div class="Header-3">
                  <h4 class="h1">Search customer</h4>
                  <div class="p-header">
                      <p class="p-point">Search customer by there register mobile number or cif number</p>
                  </div>
                  <div class="login-deatils" >
                      <div class="checkbox">
                          <input class="checkbox1" type="checkbox" name="Checkin" id="">
                      </div>
                      <div class="customer-id">
                          <input class="search" type="text" name="submit" placeholder="Customer Id">
                          <img class="img-search" src="../images/info-grey.png" alt="">
                      </div>
                  </div>
                  <div class="login-password">
                      <div class="checkbox">
                          <input class="checkbox1" type="checkbox" name="Checkin" id="">
                      </div>
                      <div class="customer-id">
                          <input class="search" type="text" name="submit" placeholder="Enter Phone Number">
                          <img class="img-search" src="../images/" alt="">
                      </div>
                  </div>                  
                  <div class="login-button">
                      <button class="search-btn">login</button>
                  </div>
              </div>             
          </div>
        </div>
        
        
      </div>
    </div>
  </div>
</body>
</html>