<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container">
    <div class="header">
      <div class="logo-container">
        <img class="logo-img" src="../images/logo.png" alt="">
        <span class="logo-name">Bank</span>
      </div>
      <div class="right-side">
        <select class="category">
          <option value="0">English</option>
          <option value="1">Banking</option>
          <option value="2">others</option>
        </select>
        <div class="headerImages">
          <div class="header-action-container">
            <img class="header-action" src="../images/icon-search.png" alt="">
          </div>
          <div class="header-action-container">
            <img class="header-action" src="../images/icon-question.png" alt="">
          </div>
          <div class="header-action-container">
            <img class="header-action" src="../images/icon-question.png" alt="">
          </div>
          <div class="header-action-container">
            <img class="header-action" src="../images/icon-user.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="body-container">
      <div class="sidebar">
        <ul class="sidebar-list">
          <li class="sidebar-action" id="active">
            <img src="../images/icon-home.png" alt="">
            <a href=""> Home </a>
          </li>
          <li class="sidebar-action">
            <img src="../images/icon-leads.png" alt="">
            <a href=""> Lead</a>
          </li>
          <li class="sidebar-action">
            <img src="../images/icon-payment.png" alt="">
            <a href="">Policies</a>
          </li>
          <li class="sidebar-action">
            <img src="../images/icon-complains.png" alt="">
            <a href="">Complaints</a>
          </li>
          <li class="sidebar-action">
            <img src="../images/icon-request.png" alt="">
            <a href="">Requests</a>
          </li>
          <li class="sidebar-action">
            <img src="../images/icon-analytics.png" alt="">
            <a href="">Analysis</a>
          </li>
        </ul>
      </div>
      <div class="landing">

        <h1 class="pageTitle">Welcome back <b>Rakesh</b></h1>

        <div class="progressContainer">

          <div class="headingLeft">
            <h4 class="headingTop">Target Progress</h4>
            <span class="progress-badge" id="color">2 more to go!</span>
            <div class="viewDeatilsContainer">
              <img src="../images/icon-doc.png" style="width: 24px; height: 24px" alt="">
              <span> view details</span>
            </div>
          </div>

          <div class="progressWrapper">
            <div class="leadInfo">
              <p style="color: #59329d;margin:0">3 leads</p>
              <p style="font-size: 12px;margin: 0;">Generated till now</p>
            </div>
            <div class="arrow-down"></div>
            <div class="progress"></div>

            <div class="bottomLeadsWrapper">
              <div class="">
                <p style="color: red;margin:0">↓ 2 leads</p>
                <p style="font-size: 12px;margin: 0;">Leads from last week</p>
              </div>
              <div style="text-align: right;">
                <p style="color: green;margin:0">↑ 3 leads</p>
                <p style="font-size: 12px;margin: 0;">Target for this week</p>
              </div>
            </div>
          </div>

          <div class="celebrationSection" style="margin-top: 20px;">
            <div class="appreciate-text">
              <img src="../images/icon-circle-tick.png" alt="" />
              <p>Manoj is leading with 7 lead generation</p>
            </div>
            <div class="avg-text">
              <img src="../images/icon-circle-tick.png" alt="" />
              <p>Average lead generation this week is 4 lead</p>
            </div>
          </div>

        </div>

        <div class="section-container">
          <div class="leftContainer">
            <div class="card1">
              <div class="headingLeft">
                <h4 class="headingTop">Work in Progress</h4>
                <span class="badge" id="color">3</span>
              </div>
              <div class="card">
                <div class="cardHeader">
                  <div class="img">
                    <img class="innerImg" src="../images/icon-circle-tick.png" alt="">
                  </div>
                  <div class="cardHeaderContent">
                    <p class="quotePoint">Quotes:22875640</p>
                    <p class="bottomQuote">last edited two days ago</p>
                  </div>
                </div>
                <div class="cardFooter">
                  <div class="leftBottom">
                    <p class="label">Customer</p>
                    <h4 class="value">Sunil Kulkuli</h4>
                  </div>
                  <div class="rightBottom">
                    <p class="label">Insures Sum</p>
                    <p class="value"><b>$--</p></b>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="cardHeader">
                  <div class="img">
                    <img class="innerImg" src="../images/icon-doc.png" alt="">
                  </div>
                  <div class="cardHeaderContent">
                    <p class="quotePoint">Quotes:22875640</p>
                    <p class="bottomQuote">last edited two days ago</p>
                  </div>
                </div>
                <div class="cardFooter">
                  <div class="leftBottom">
                    <p class="label">Customer</p>
                    <h4 class="value">Sunil Kulkuli</h4>
                  </div>
                  <div class="rightBottom">
                    <p class="label">Insures Sum</p>
                    <p class="value"><b>$--</p></b>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="cardHeader">
                  <div class="img">
                    <img class="innerImg" src="../images/icon-doller-ok.png" alt="">
                  </div>
                  <div class="cardHeaderContent">
                    <p class="quotePoint">Quotes:22875640</p>
                    <p class="bottomQuote">last edited two days ago</p>
                  </div>
                </div>
                <div class="cardFooter footer">
                  <div class="data-row">
                    <div class="leftBottom">
                      <p class="label">Customer</p>
                      <h4 class="value">Sunil Kulkuli</h4>
                    </div>
                    <div class="rightBottom">
                      <p class="label">Insures Sum</p>
                      <p class="value"><b>$--</p></b>
                    </div>
                  </div>
                  <div class="containerFooter">
                    <div class="leftBottom" id="boxA">
                      <p class="label">Policy type</p>
                      <p class="value">Home Insurance</p>
                    </div>
                    <div class="rightBottom" id="boxB">
                      <p class="label">Insurance </p>
                      <p class="value"><b class="lic">LIC of India</p> </b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="middleContainer">
            <div class="card2">
              <div class="headingLeft">
                <h4 class="headingTop">Pending request</h4>
                <span class="badge">1</span>
              </div>
              <div class="card">
                <div class="cardHeader">
                  <div class="img">
                    <img class="innerImg" src="../images/icon-doller-ok.png" alt="">
                  </div>
                  <div class="cardHeaderContent">
                    <p class="quotePoint">Quotes:22875640</p>
                    <p class="bottomQuote">last edited two days ago</p>
                  </div>
                </div>
                <div class="cardFooter footer">
                  <div class="data-row">
                    <div class="leftBottom">
                      <p class="label">Customer</p>
                      <h4 class="value">Sunil Kulkuli</h4>
                    </div>
                    <div class="rightBottom">
                      <p class="label">Insures Sum</p>
                      <p class="value"><b>$--</p></b>
                    </div>
                  </div>
                  <div class="containerFooter">
                    <div class="leftBottom" id="boxA">
                      <p class="label">Policy type</p>
                      <p class="value">Home Insurance</p>
                    </div>
                    <div class="rightBottom" id="boxB">
                      <p class="label">Insurance </p>
                      <p class="value"><b class="lic">LIC of India</p> </b>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="cardHeader">
                  <div class="img">
                    <img class="innerImg" src="../images/icon-doller-ok.png" alt="">
                  </div>
                  <div class="cardHeaderContent">
                    <p class="quotePoint">Quotes:22875640</p>
                    <p class="bottomQuote">last edited two days ago</p>
                  </div>
                </div>
                <div class="cardFooter footer">
                  <div class="data-row">
                    <div class="leftBottom">
                      <p class="label">Customer</p>
                      <h4 class="value">Sunil Kulkuli</h4>
                    </div>
                    <div class="rightBottom">
                      <p class="label">Insures Sum</p>
                      <p class="value"><b>$--</p></b>
                    </div>
                  </div>
                  <div class="containerFooter">
                    <div class="leftBottom" id="boxA">
                      <p class="label">Policy type</p>
                      <p class="value">Home Insurance</p>
                    </div>
                    <div class="rightBottom" id="boxB">
                      <p class="label">Insurance </p>
                      <p class="value"><b class="lic">LIC of India</p> </b>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="cardHeader">
                  <div class="img">
                    <img class="innerImg" src="../images/icon-doller-ok.png" alt="">
                  </div>
                  <div class="cardHeaderContent">
                    <p class="quotePoint">Quotes:22875640</p>
                    <p class="bottomQuote">last edited two days ago</p>
                  </div>
                </div>
                <div class="cardFooter footer">
                  <div class="data-row">
                    <div class="leftBottom">
                      <p class="label">Customer</p>
                      <h4 class="value">Sunil Kulkuli</h4>
                    </div>
                    <div class="rightBottom">
                      <p class="label">Insures Sum</p>
                      <p class="value"><b>$--</p></b>
                    </div>
                  </div>
                  <div class="containerFooter">
                    <div class="leftBottom" id="boxA">
                      <p class="label">Policy type</p>
                      <p class="value">Home Insurance</p>
                    </div>
                    <div class="rightBottom" id="boxB">
                      <p class="label">Insurance </p>
                      <p class="value"><b class="lic">LIC of India</p> </b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="rightContainer">
            <div class="card-3">
              <div class="headingLeft searchContainer">
                <h4 class="headingTop">Search Customer</h4>
                <p class="p-point">Search customer by there register mobile number or cif number</p>

                <div class="login-deatils">
                  <div class="checkbox">
                    <input class="checkbox1" type="checkbox" name="Checkin" id="">
                  </div>
                  <div class="customer-id">
                    <input class="search" type="text" name="submit" placeholder="Customer Id">
                    <img class="img-search" src="../images/info-grey.png" alt="">
                  </div>
                </div>
                <div class="password-container">
                  <div class="checkbox">
                    <input class="checkbox1" type="checkbox" name="Checkin" id="">
                  </div>
                  <div class="customer-id">
                    <input class="search" type="text" name="submit" placeholder="Enter Phone Number">
                    <img class="img-search" src="../images/info-grey.png" alt="">
                  </div>
                </div>
                <div class="login-btn">
                  <button class="search-btn">login</button>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="btns-">
          <div class="btns-1"><button class="btns-1">View all</button> </div>
           <div class="btns-1"><button class="btns-1">View all</button> </div>
       </div>
       <div class="bigFooter">
         <div class="footerContainer">
           <div class="footerleft"><h4>Leaderboard</h4>
           </div>
           <div class="footerRight">
             <div class="footerdate"><p>August2021</p>
             </div>
             <div ><img class="calendar"  src="../images/icon-caret-down-primary.png" alt="">
             </div>
           </div>
         </div>
         <div class="footer-small-container">
            <div class="footer-small-left">
              <div class="message msg1">
               <p> You are in the <b>top 20% </b> in lead generation </p> 
             </div>
             <div class="bar-grap">
               <img class="img-graph_" src="../images/graph1.png" alt="">
             </div>
           </div>
           
           <div class="footer-small-right">
             <div class="message">
               <p>You are Top 2 based on lead genearation</p>
             </div>
             <div class="bar-grap">
               <img class="img-graph_" src="../images/graph2.png" alt="">
             </div>
           </div>
         </div>
      </div>
    </div>
</body>

</html>